<h1 class="title">Users</h1>
<div class="users">
    <div class="users__list">
        {{#each users}}
            {{> agentEveryUser agentEveryUser=this}}
        {{/each}}
    </div>
</div>
