<div class="portfolio">
    <div class="portfolio__content"> 
        <h4 class="portfolio__content-txt">Your resume has been successfully created!</h4>                   
        <h3 class="portfolio__content-sign">Now, Sign In</h3>
        <input class="portfolio__content-input" type="text" id="emailUserJS" placeholder="alexruncki@gmail.com">
        <a class="portfolio__content-btn" id="showJS" title="started!">Start</a>
    </div>
</div> 