<div class="user">
    <img class="user__img" src="{{avatar}}">
    <p class="user__name">{{user.firstNameUser}} {{user.lastNameUser}}</p>
    <a class="user__btn" href="#/users/view/{{user.id}}">View</a>
</div>