<div class="wrapper">
    <div class="wrapper__top">
        <div class="wrapper__top-left">
            <a href="/#"><img src="images/logo-blue-text.png" alt="logo-text"></a>
        </div>
        <div class="wrapper__top-center">
            <a class="{{#if isResumePage}}active{{/if}}" href="/#/login/resume/{{activ}}" id="save"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
            <a class="{{#if isUsersPage}}active{{/if}}" href="#/users"><i class="fa fa-users fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="wrapper__top-right">
            <a class="{{#if isPortfolioPage}}active{{/if}}" href="#/login/portfolio" ><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></i></a>
        </div>
    </div>
</div>