 <div class="about-bckg">
    <div class="about"> 
        <h1 class="about__title">Welcome!</h1>                   
        <p class="about__info">Let Potrfolio build your resume for you.</p>
        <p class="about__info-description">A beautiful online resume for musicians, dancers, singers, artists, photographers, artists of the original genre.</p> 
    </div>   
    <div class="btn">
        <a class="btn__in button" href="/#/login/portfolio" title="Click here to get started!">Sign In</a>
        <a class="btn__up" href="#/login" title="Click here to get started!">Sign Up</a>
        <a class="btn__agent button" href="/#/agent" title="Click here to get started!">I am agent</a>
    </div> 
</div>    